node_modules
.env

# ---- Agregado por cleanup_vitality.sh ----
# Archivos sensibles
*token*
*github_token*
token de github
# Archivos temporales y copias
*copy.js
*_copy.js
*.OLD
*.OLD_ROOT
# Carpeta de archivos archivados
_archive/
# Notas locales
docs/notas
docs/proyecto_vitality.txt
.env
